<amp-carousel width="400"
      height="300"
      layout="responsive"
      type="slides"
      autoplay
      delay="2000">
  <div>
    <div class="blue-box"></div>
    This is a blue box.
  </div>
  <div>
    <div class="red-box"></div>
    This is a red box.
  </div>
  <div>
    <div class="green-box"></div>
    This is a green box.
  </div>
    <amp-img src="/img/image1.jpg"
        width="400"
        height="300"
        layout="responsive"></amp-img>
    <amp-img src="/img/image2.jpg"
        width="400"
        height="300"
        layout="responsive"></amp-img>
    <amp-img src="/img/image3.jpg"
        width="400"
        height="300"
        layout="responsive"></amp-img>
  </amp-carousel>
