<!-- iFrame STANDARD -->
<amp-iframe width="320"
  height="50"
  layout="responsive"
  sandbox="allow-scripts allow-same-origin allow-popups"
  allowfullscreen
  frameborder="0"
  src="{{page.store-link}}">
  </amp-iframe>
  <!-- / standard -->

<!-- iFrame with PLACEHOLDER -->
<amp-iframe width="320"
    height="50"
    layout="responsive"
    sandbox="allow-scripts allow-same-origin allow-popups"
    allowfullscreen
    frameborder="0"
    src="VIDEOLINK">
    <amp-img layout="fill"
      src="PLACEHOLDERLINK"
      placeholder>
      </amp-img>
  </amp-iframe>
  <!-- / placeholder -->
