.DS_Store
_site
.bundle
Gemfile.lock
/html
/md
.sass-cache
/.jekyll-metadata
.jekyll-metadata
/vendor
node_modules
/node_modules
comments.json
/tmp
/public/storage
.env
/spec/examples.txt
google*.html
