<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">

  {% include head/_meta.html %}
  {% include head/_meta-google.html %}
  {% include head/_meta-twitter.html %}

  <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  {% include head/script-twitter.html %}
  {% include head/scripts-amp.html %}
  {% include head/style-amp.html %}
  <script async src="https://cdn.ampproject.org/v0.js"></script>

  {% seo %}
</head>
