<section id="newsletter" class="wrapper">
  <div class="container">
    <!--<header class="section-header">eRx</header>
      <h3>Get <amp-img src="{{ site.baseurl }}/assets/images/dox-vector-dark.svg" alt="Dox" height="48" width="48"></amp-img> <span>ePrescribed</span> to your Inbox!</h3>-->
      <h3 class="section-teaser">Busy &amp; on the go?</h3>
      <p>Consume at your own convenience
      <br>Get all of our posts &amp; podcasts delivered to your inbox.</p>
      <!--<div class="form">
        <span class="input">First &amp; Last Name</span>
        <span class="input">Email</span>
      </div>-->
      <div class="submit"><a href="" class="button a">Subscribe</a></div>
    </div>
  </section>
