<section id="podcasts" class="wrapper">
  <div class="container">

    <header class="section-header">Podcasts</header>

    <div class="episode">
      <h2>
        <span class="episode-no">001</span>
        <span class="episode-title">Title</span>
      </h2>
      <p class="episode-description">On this episode, we talk about location.</p>
      <div class="episode-playback">
        <span class="playback-play">+</span>
        <span class="playback-timebar"></span>
        <span class="playback-remaining">10:00</span>
      </div>
    </div>

    <div class="episode">
      <h2 class="episode-meta">
        <span class="episode-no">002</span>
        <span class="episode-title">Title</span>
      </h2>
      <p class="episode-description">On this episode, we talk about billing.</p>
      <div class="episode-playback">
        <span class="playback-play">+</span>
        <span class="playback-timebar"></span>
        <span class="playback-remaining">10:00</span>
      </div>
    </div>

    <div class="episode">
      <h2 class="episode-meta">
        <span class="episode-no">003</span>
        <span class="episode-title">Title</span>
      </h2>
      <p class="episode-description">On this episode, we talk about insurance.</p>
      <div class="episode-playback">
        <span class="playback-play">+</span>
        <span class="playback-timebar"></span>
        <span class="playback-remaining">10:00</span>
      </div>
    </div>

  </div>
</section>
