<section id="sitenav" class="wrapper">
  <nav id="bottomnav" class="container">
    <ul class="page-links nav-right">
      <!--<li><a href="/social" {% if page.url == "/social.html" %}class="active"{% endif %}>Chat</a></li>-->
      <li><a href="/blog/" {% if page.url == "/blog/" %}class="active"{% endif %}>Blog</a></li>
      <li><a href="/podcast/" {% if page.url == "/podcasts/" %}class="active"{% endif %}>Podcasts</a></li>

      <li><amp-img {% if page.url == "/resources/" %}class="active"{% endif %} src="{{ site.url }}/assets/images/icons/file-cabinet.svg" alt="Resources" height="24" width="24" layout="responsive"></amp-img>
        <a href="/resources/" {% if page.url == "/resources/" %}class="active"{% endif %}>Resources</a></li>

      <li><amp-img {% if page.url == "/" %}class="active"{% endif %} src="{{ site.url }}/assets/images/icons/home-white-24.svg" alt="Home" height="24" width="25" layout="responsive"></amp-img>
        <a href="/" {% if page.url == "/" %}class="active"{% endif %}>Home</a></li>
    </ul>
    </nav>
  </section>
