---
layout: default
---
<main class="content wrapper cf" role="main">
  <article class="post container">
    <div class="post-meta">
      <h1 class="post-title">{{ page.title }}</h1>
      <p class="published">
        <amp-img src="{{ site.baseurl }}/assets/images/icons/cal-date.svg" alt="Date" height="16" width="16"></amp-img>
        <time datetime="{{ page.date | date: "%F %R" }}">{{ page.date | date_to_string }}</time>
        </p>
      </div>

    <section class="post-content">
      <a name="topofpage"></a>
      {{content}}
      </section>

    <footer class="post-footer">
      <section class="share">
        <a class="icon" href="https://twitter.com/intent/tweet?url={{ site.url }}{{ page.id }}&text={{page.title | cgi_escape}}&via={{ site.twitter_username }}" target="">
          Share this post {% include icon-twitter.html %}
          </a>
        </section>
      </footer>

    <div class="bottom-teaser cf">

      <div class="isLeft">
        <h5 class="index-headline featured"><span class="section-header">Written by</span>
          </h5>
        <section class="author">
          <div class="author-image"></div>
          <h4>{{ site.name }}</h4>
          <p>
            <span>
              {% if site.twitter_username %}
                {% include icon-twitter.html username=site.twitter_username %}
              {% endif %}
            </span>
            <!--
            <span>
              {% if site.github_username %}
                {% include icon-github.html username=site.github_username %}
              {% endif %}
            </span>
            -->
          </p>
          <p class="bio">{{site.bio}}</p>
          <p class="published">Published <time datetime="{{ page.date | date: "%F %R" }}">{{ page.date | date_to_string }}</time></p>
        </section>
      </div>

      <div class="isRight">
        <h5 class="index-headline featured">
          <a class="subscribe" href="{{ "/feed.xml" | prepend: site.baseurl }}"></a>
          </h5>
          <div class="tooltip">
            <i class="fa fa-rss"></i>
            <!--{% include newsletter.html %}-->
            </div>
        </div>
      </div>
    </article>
  </main>
